<!-- <div class="container general">
    <h1>CONTACTAR</h1>
    <div class="row">
        <div class="col-lg-6 fondo-contacto">
            <div class="contenedor-informacion">
                <a> <img src="./assets/img/icono/mapa.png" alt="">: Av. 9 de diciembre 502 Aprovisa Ayacucho-Perú</a>
                <a> <img src="./assets/img/icono/phone.png" alt="">: 925266077 - 988322267</a>
                <a> <img src="./assets/img/icono/correo3.png" alt="">: administracion@ingeparch.com</a>
                <a> <img src="./assets/img/icono/web.png" alt="">: www.ingeparch.com</a>
            </div>

            <div class="contenedor-redes-sociales">
                <h4>Síguenos en nuestras redes</h4>
                <a href=""><img src="./assets/img/icono/facebook.png" alt=""></a>
                <a href=""><img src="./assets/img/icono/instagram.png" alt=""></a>

            </div>

        </div>
        <div class="col-lg-6 contenedor-general-formulario">
            <h2>Escríbenos un E-mail</h2>
            <form action="https://formsubmit.co/2473aca7e57e7462e57e6ce201999af4" method="POST" class="formulario">

                <div class="form">
                    
                    <div class="grupo">
                        <input type="text" name="nombre" id="" placeholder="Nombre" required>
                    </div>

                    <div class="grupo">
                        <input type="email" name="email" id="" placeholder="correo" required>
                    </div>

                    <div class="grupo">
                        <input type="number" name="telefono" id="" placeholder="telefono">
                    </div>

                    <div class="grupo">
                        <textarea name="asunto" id="" rows="4" placeholder="Asunto"></textarea>
                    </div>

                    <button class="boton" type="submit">ENVIAR</button>

                </div>
            </form>
        </div>


    </div>
</div> -->


<section class="seccion-contactanos">
    <div class="container contenedor-contactar">

        <div class="contenedor-texto-contactar">
            <h2>¿Desea mayor información de nuestro servicio?. ¡ESCRÍBENOS!</h2>
        </div>

        <div class="contenedor-btn-contactar">

            <button type="button" [routerLink]="['/contacto']" class="btn btn-success btn-contactar">CONTACTAR</button>
        </div>

    </div>

</section>