<div class="fondo-img">
    <h1>PRUEBA CBR</h1>
</div>
<div class="container contenedor-texto">

    <div>
        <h5 class="card-title titulo-servicio-general">ÁREA SISTEMAS E INFORMÁTICA</h5>
        <p class="card-text">
            <strong>INGEPARCH</strong> es una empresa peruana que cuenta con Laboratorio de Mecánica de Suelos y Asfalto; fue creado para cumplir con los fines de enseñanza, investigación y dar soluciones geotécnicas de alta calidad. Durante ese tiempo,
            ha desarrollado proyectos de investigación y ha brindado servicios de ensayos y consultoría en geotecnia
        </p>

        <p class="card-text">
            Está equipado para la ejecución de los ensayos de laboratorio y cuenta con equipo de campo para la ejecución de pruebas.
        </p>

        <p class="card-text">
            Nuestro equipo está formado por profesionales y técnico capacitado. Ha brindado servicios de laboratorio y consultoría a las principales empresas dedicadas a la construcción.
        </p>
    </div>






    <!--     <app-formulario-contacto></app-formulario-contacto> -->
</div>

<section class="seccion-servicios">
    <div class="container">
        <h2>Servicios </h2>

        <div class="contenedor-servicios">
            <div class="servicio1">
                <h4>DESARROLLO DE SITIOS WEB</h4>
            </div>

            <div class="servicio2">
                <h4>CURSOS ONLINE</h4>
            </div>

        </div>

        <div class="contenedor-servicios">
            <div class="servicio1">
                <h4>DESARROLLO DE SITIOS WEB</h4>
            </div>

            <div class="servicio2">
                <h4>CURSOS ONLINE</h4>
            </div>

        </div>
    </div>
</section>