<div class="fondo-img">
    <h1>CORTE DIRECTO</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Tiene por objeto establecer el procedimiento de ensayo para determinar la resistencia al corte de una muestra de suelo consolidada y drenada, por el método del corte directo. Este ensayo puede realizarse sobre todos los tipos de suelos, con muestras inalteradas
        y remoldeadas.
    </p>

    <h2>ENSAYO:</h2>

    <p>
        El aparato de ensayo se representa esquemáticamente en la Figura. Se trata de una caja rígida de acero, usualmente de sección cuadrada, que se encuentra dividida en dos mitades y en cuyo interior se coloca la muestra de suelo. Encima de ésta se dispone
        una placa de reparto rígida sobre la que se puede aplicar una carga vertical (N). Todo el conjunto se introduce en un recipiente de acero de mayores dimensiones, que puede llenarse de agua para realizar el ensayo en condiciones de saturación (en
        este último caso se pueden disponer también piedras porosas encima y debajo de la muestra para facilitar el drenaje). La inducción de tensiones cortantes en el suelo se logra trasladando horizontalmente la parte inferior de la caja de corte mientras
        que se impide totalmente el movimiento de la zona superior. Una prueba completa sobre un determinado suelo consiste en ensayar tres muestras idénticas del mismo material bajo tres cargas verticales distintas (N1, N2, N3) o, lo que es lo mismo,
        bajo tres tensiones normales diferentes (basta dividir cada carga (N) por la sección (S0) de la muestra para obtener la tensión normal actuante). En cada uno de los ensayos individuales, a medida que se obliga a la parte inferior de la caja a
        desplazarse en horizontal a velocidad constante, se va midiendo:
    </p>

    <!-- <div class="contenedor-img">
        <img src="./assets/img/ensayo-corte-directo.png" alt="">
    </div>

    <p>
        La fuerza (FH) necesaria para impedir el movimiento de la parte superior. Dividiendo dicha fuerza por la sección (S0) de la muestra se obtiene la tensión tangencial (𝜏) actuante en cada momento sobre el plano de corte. - El desplazamiento vertical de
        la muestra. Teniendo en cuenta que las paredes de la caja de corte son rígidas, como en el edómetro, la deformación vertical medida (𝛿𝜀𝑣) proporciona directamente el cambio de volumen de la muestra (𝛿𝑣), ya que:
    </p>

    <div style="text-align: center;">
        <img src="./assets/img/ensayo-corte-directo-formula.png" alt="">
    </div>


    <div>
        <h2>Donde:</h2>

        <ul>
            <li><img src="./assets/img/check3.png" alt="">H0 es la altura inicial de la muestra (4,2 cm en las cajas de corte habituales). </li>
            <li><img src="./assets/img/check3.png" alt="">S0 es la sección de la muestra (usualmente 36 cm2 para cajas de L = 6 cm de lado). </li>
            <li><img src="./assets/img/check3.png" alt="">V0 = H0 ∙ S0 es el volumen inicial de suelo. </li>
            <li><img src="./assets/img/check3.png" alt="">∆H es el desplazamiento vertical (positivo si es un acortamiento). </li>
            <li><img src="./assets/img/check3.png" alt="">∆V es la variación de volumen de suelo (positivo si es una compresión).</li>
        </ul>
    </div>

    <div>
        <h2>Con respecto a las fases de ensayo, el proceso suele ser el siguiente:</h2>

        <ul>
            <li><img src="./assets/img/check2.png" alt="">La muestra está sujeta a únicamente a un esfuerzo normal. </li>
            <li><img src="./assets/img/check2.png" alt="">El ensayo es realizado en condiciones drenadas. </li>
            <li><img src="./assets/img/check2.png" alt="">El esfuerzo es aplicado en el plano de falla “esfuerzo tangencial”. </li>
            <li><img src="./assets/img/check2.png" alt="">Las deformaciones generadas se denominan “deformaciones de corte”. </li>
            <li><img src="./assets/img/check2.png" alt="">Consiste en mantener constante el esfuerzo normal y aumentar el esfuerzo tangencial hasta la falla.</li>
        </ul>


        <div class="card-group">
            <div class="card">
                <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

            </div>
            <div class="card">
                <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
            </div>
        </div>
    </div> -->

    <div class="contenedor-img-triaxial">
        <img src="./assets/img/Corte-directo2.png" alt="">

    </div>

</div>