<div class="fondo-img">
    <h1>CONTENIDO DE HUMEDAD</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Determinar en laboratorio el contenido de humedad de una muestra de suelo, roca, agregado y materiales similares, donde la reducción de la masa por secado es debido a la pérdida del agua contenida en la muestra.
    </p>

    <p>
        Por definición el contenido de humedad es la relación entre la masa de agua contenida en el suelo y la masa del suelo en estado seco, expresada en porcentaje de acuerdo a la ecuación:
    </p>


    <div style="text-align: center;">
        <img src="./assets/img/formula-contenido-humedad.JPG" alt="">
    </div>

    <p>Donde:</p>
    <ul>
        <li><img src="./assets/img/check2.png" alt="">ω = contenido de agua expresado en porcentaje.</li>
        <li><img src="./assets/img/check2.png" alt="">M<sub>ω</sub> = masa del agua presente en el suelo.</li>
        <li><img src="./assets/img/check2.png" alt="">M<sub>s</sub> = masa del suelo seco.</li>
    </ul>

    <!-- <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>