<div class="container general">
    <h1>CONTACTAR</h1>
    <div class="container">


        <div class=" row">
            <div class="col-lg-6 fondo-contacto">
                <div class="contenedor-informacion">
                    <a> <img src="./assets/img/icono/mapa.png" alt="">: Av. 9 de diciembre 502 Aprovisa Ayacucho-Perú</a>
                    <a> <img src="./assets/img/icono/phone.png" alt="">: 925266077 - 988322267</a>
                    <a> <img src="./assets/img/icono/correo3.png" alt="">: administracion@ingeparch.com</a>
                    <a> <img src="./assets/img/icono/web.png" alt="">: www.ingeparch.com</a>
                </div>

                <div class="contenedor-redes-sociales">
                    <h4>Síguenos en nuestras redes</h4>
                    <a href="https://www.facebook.com/INGEPARCH/?ref=pages_you_manage" target="_blank"><img src="./assets/img/icono/facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/ingeparchsac/" target="_blank"><img src="./assets/img/icono/instagram.png" alt=""></a>

                </div>

            </div>
            <div class="col-lg-6 contenedor-general-formulario">
                <h2>Escríbenos un E-mail</h2>
                <form action="https://formsubmit.co/6330f7e0b57d103e6c3dfb1a4a2260c6" method="POST" class="formulario">

                    <div class="form">
                        <!-- <h2 class="title-form">Nos encargamos de brindarte el mejor servicio</h2> -->
                        <div class="grupo">
                            <input type="text" name="nombre" id="" placeholder="Nombre" required>
                        </div>

                        <div class="grupo">
                            <input type="email" name="email" id="" placeholder="correo" required>
                        </div>

                        <div class="grupo">
                            <input type="number" name="telefono" id="" placeholder="telefono">
                        </div>

                        <div class="grupo">
                            <textarea name="asunto" id="" rows="4" placeholder="Asunto"></textarea>
                        </div>

                        <button class="boton" type="submit">ENVIAR</button>

                    </div>
                </form>
            </div>


        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 contenedor-mapa">
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7769.649209808072!2d-74.20660546831344!3d-13.173456367464834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x911287c3a75e0727%3A0x95124abda0b7a33d!2sINGEPARCH%20S.A.C!5e0!3m2!1ses-419!2spe!4v1630439750181!5m2!1ses-419!2spe"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>