<!-- ================================ seccion de servicios =============================================== -->

<!-- <section>
    <div class="container contenedor-general-servicios">


        <h1> Servicios</h1>

        <div class="contenedor-servicio">
            <div class="contenedor-info">
                <h2>Corte Triaxial</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptatem saepe placeat repellat corporis rerum in deleniti cumque voluptatibus! Blanditiis illo consequatur quam beatae. Adipisci deleniti dolorem repellendus minus suscipit?</p>
                <a [routerLink]="['corte-triaxial']">Ver más</a>
            </div>
            <div class="contenedor-img">
                <a><img src="./assets/img/servicio-planos.jpg" alt=""></a>
            </div>
        </div>

        <div class="contenedor-servicio">
            <div class="contenedor-img">
                <a href="#"><img src="./assets/img/servicio-planos.jpg" alt=""></a>
            </div>
            <div class="contenedor-info">
                <h2>Corte Directo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptatem saepe placeat repellat corporis rerum in deleniti cumque voluptatibus! Blanditiis illo consequatur quam beatae. Adipisci deleniti dolorem repellendus minus suscipit?</p>
                <a [routerLink]="['corte-directo']">Ver más</a>
            </div>
        </div>

        <div class="contenedor-servicio">
            <div class="contenedor-info">
                <h2>Prueba de CBR</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptatem saepe placeat repellat corporis rerum in deleniti cumque voluptatibus! Blanditiis illo consequatur quam beatae. Adipisci deleniti dolorem repellendus minus suscipit?</p>
                <a [routerLink]="['prueba-cbr']">Ver más</a>
            </div>
            <div class="contenedor-img">
                <a href="#"><img src="./assets/img/servicio-planos.jpg" alt=""></a>
            </div>
        </div>

        <div class="contenedor-servicio">
            <div class="contenedor-img">
                <a href="#"><img src="./assets/img/servicio-planos.jpg" alt=""></a>
            </div>
            <div class="contenedor-info">
                <h2>Ruptura de provetas</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptatem saepe placeat repellat corporis rerum in deleniti cumque voluptatibus! Blanditiis illo consequatur quam beatae. Adipisci deleniti dolorem repellendus minus suscipit?</p>
                <a [routerLink]="['ruptura-provetas']">Ver más</a>
            </div>
        </div>

        <div class="contenedor-servicio">
            <div class="contenedor-info">
                <h2>Elaboración de Expedientes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptatem saepe placeat repellat corporis rerum in deleniti cumque voluptatibus! Blanditiis illo consequatur quam beatae. Adipisci deleniti dolorem repellendus minus suscipit?</p>
                <a [routerLink]="['elaboracion-expedientes']">Ver más</a>
            </div>
            <div class="contenedor-img">
                <a href="#"><img src="./assets/img/servicio-planos.jpg" alt=""></a>
            </div>
        </div>

        <div class="contenedor-servicio">
            <div class="contenedor-img">
                <a href="#"><img src="./assets/img/servicio-planos.jpg" alt=""></a>
            </div>
            <div class="contenedor-info">
                <h2>Liquidación de Obras</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptatem saepe placeat repellat corporis rerum in deleniti cumque voluptatibus! Blanditiis illo consequatur quam beatae. Adipisci deleniti dolorem repellendus minus suscipit?</p>
                <a [routerLink]="['liquidacion-obras']">Ver más</a>
            </div>
        </div>
    </div>

</section> -->

<div class="contenedor">
    <router-outlet></router-outlet>
</div>