<div class="fondo-img">
    <h1>PESO VOLUMÉTRICO DE SUELO COHESIVO</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Determinar el peso volumétrico de masa o densidad de un suelo cohesivo, por definición el peso volumétrico es la relación entre la masa y el volumen del suelo, según la relación
    </p>




    <div style="text-align: center;">
        <img src="./assets/img/formula-peso-volumetrico.JPG" alt="">
    </div>

    <p>Donde:</p>
    <ul>
        <li><img src="./assets/img/check2.png" alt="">γ<sub>m</sub> = Peso volumétrico de masa.</li>
        <li><img src="./assets/img/check2.png" alt="">M = Masa del suelo.</li>
        <li><img src="./assets/img/check2.png" alt="">V = Volumen de la masa del suelo.</li>
    </ul>

    <h2>RESUMEN DEL MÉTODO</h2>

    <p>
        Se determina la densidad de una muestra de suelo cohesivo por determinación de su masa y volumen, el procedimiento considera la obtención del volumen mediante el desplazamiento en agua. El método puede ser aplicado siempre y cuando se pueda obtener trozos
        de suelo de tamaño adecuado.
    </p>

    <!-- <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>