<div class="container general-nosotros">
    <div class="row">

        <div class="col-xl-12 text-center">
            <h2 class="titulo">INGEPARCH</h2>
            <p class="texto">
                Somos INGEPARCH S.A.C. una empresa peruana con experiencia en la construcción y consultoría por el cual contamos con un amplio conocimiento en los rubros de Ingeniería y Arquitectura basadas en las Normas legales y reglamentos del rubro. Garantizamos
                el cumplimiento de los requerimientos del cliente al contar con profesionales y colaboradores con experiencia, atendiendo eficazmente sus necesidades bajo el control de los procesos constructivos y de calidad.
            </p>
        </div>
    </div>

    <div class="card-group contenedor-general-vision">
        <div class="card contenedor-vision">

            <div class="contenedor-img-vision">
                <img src="./assets/img/icono/mision.png" alt="">

            </div>
            <div class="card-body contenedor-info">
                <h5 class="card-title titulo">Misión</h5>
                <p class="card-text texto">
                    Difundir y aplicar nuestros conocimientos en el rubro de la Ingeniería y Arquitectura. Con los más altos estándares de Calidad, salvaguardando la integridad de nuestra gente, comunidad y medioambiente.
                </p>

            </div>


        </div>
        <div class="card contenedor-vision">

            <div class="contenedor-img-vision">
                <img src="./assets/img/icono/vision.png" alt="">

            </div>
            <div class="card-body contenedor-info">
                <h5 class="card-title titulo">Visión</h5>
                <p class="card-text texto">
                    Ser conocidos por nuestras soluciones innovadoras de alta calidad, así como por nuestros valores y nuestra forma transparente de trabajar con nuestros clientes.
                </p>

            </div>


        </div>

    </div>



    <div class="card mb-3 contenedor-general-valores">
        <div class="row no-gutters">
            <div class="col-md-4 contenedor-img-valores">
                <h2 class="titulo-valores">NUESTROS </h2>
                <h2 class="titulo-valores">VALORES </h2>
                <!-- <img src="..." alt="..."> -->
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <h4 class="titulo2">RESOLUCIÓN:</h4>
                    <p class="texto">
                        Es la capacidad para resolver problemas. ¿Verdad que si consideras que una persona es resolutiva acudirás a ella cuando tengas un problema? Con tu empresa puede ocurrir lo mismo si implantas la resolución como uno de tus valores empresariales
                    </p>

                    <h4 class="titulo2">PASIÓN:</h4>
                    <p class="texto">
                        Este valor está directamente ligado al anterior, pero implica una mayor fuerza. Cuando alguien se muestra apasionado con su trabajo y con lo que hace, contagia esa pasión y esa energía a los demás. Si nuestra empresa les transmite a su equipo y sus clientes
                        dicha pasión, ellos también se sentirán así.
                    </p>

                    <h4 class="titulo2">EXCELENCIA:</h4>
                    <p class="texto">
                        La calidad llevada al máximo, eso es la excelencia. Si nos exigimos lo mejor, podremos dar lo mejor. Y que un cliente y un empleado vean que les ofrecemos algo excelente les impulsará a quedarse con nosotros.
                    </p>

                    <h4 class="titulo2">LEALTAD:</h4>
                    <p class="texto">
                        Si nos mostramos leales y fieles con nuestro equipo y nuestros clientes, ellos nos devolverán esa fidelidad. El impulso de reciprocidad está insertado en la naturaleza humana desde sus orígenes.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- <app-formulario-contacto></app-formulario-contacto> -->
</div>