<div class="fondo-img">
    <h1>GRAVEDAD ESPECÍFICA DE SÓLIDOS</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Determinar la gravedad específica de los sólidos del suelo de la fracción menor que el tamiz N°4 (4.75 mm), utilizando el método del picnómetro.
    </p>

    <p>
        La gravedad específica es la relación entre el peso específico de los sólidos respecto al peso específico del agua destilada.
    </p>

    <div style="text-align: center;">
        <img src="./assets/img/formula-gravedad-especifica-solidos1.JPG" alt="">
    </div>

    <p>
        Es decir, será la relación entre la masa de un volumen unitario de sólidos del suelo (ρ<sub>s</sub>) y la masa del mismo volumen de agua destilada libre de gas a 20°C (ρ<sub>w</sub>).
    </p>

    <div style="text-align: center;">
        <img src="./assets/img/formula-gravedad-especifica-solidos2.JPG" alt="">
    </div>

    <h2>RESUMEN DEL MÉTODO</h2>

    <p>
        El ensayo consiste en determinar la masa de la fase sólida de un suelo y su respectivo volumen, la masa se determina con la balanza y es necesario un procedimiento cuidadoso con el picnómetro para obtener el volumen de sólidos.
    </p>

    <p>
        El volumen de sólidos se determina colocando la muestra seca en un picnómetro previamente calibrado con agua, el volumen de agua desplazado es similar al volumen de los sólidos, para lo cual se debe eliminar completamente todo el volumen de vacíos de
        la muestra utilizando una bomba de vacío, baño maría o similares.
    </p>

    <p>
        El procedimiento considera dos métodos “A y “B”.
    </p>

    <p>
        <strong>Método A:</strong> para muestras húmedas, aplicable a suelos orgánicos, de alta plasticidad, suelos finos, suelos tropicales y suelos que contienen hallosita.
    </p>

    <p>
        <strong>Método B:</strong> procedimiento para muestras secadas al horno.
    </p>

    <!-- <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>