<div class="fondo-img">
    <h1>LÍMITE DE CONTRACCIÓN</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Determinar los contenidos de humedad que definen las fronteras entre los estados de consistencia semisólido y sólido, denominada límite de contracción de una muestra de suelo pasante el tamiz N°40.
    </p>

    <p>
        El límite de contracción se define como el contenido de humedad debajo del cual no se produce reducción de volumen del suelo.
    </p>


    <h2>RESUMEN DEL MÉTODO</h2>

    <p>
        Una muestra de suelo fino pasante el tamiz N°40 con humedad cercana o ligeramente mayor al límite líquido, se coloca en una cápsula de contracción de volumen conocido en tres capas, luego de colocar la última capa, se enrasa la capsula con una espátula,
        se registra la masa del suelo húmedo y se lleva al horno para secado y determinación de la humedad inicial.
    </p>

    <p>
        Se determina además el volumen inicial del suelo húmedo que será igual al volumen de la cápsula de contracción, y el volumen final del suelo seco, que se obtiene por el desplazamiento en mercurio.
    </p>


    <!--  <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>