<div class="fondo-img">
    <h1>PROCTOR STANDARD</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Este ensayo abarca los procedimientos de compactación usados en Laboratorio, para determinar la relación entre el Contenido de Agua y Peso Unitario Seco de los suelos (curva de compactación) compactados en un molde de 4 ó 6 pulgadas (101,6 ó 152,4 mm)
        de diámetro con un pisón de 5,5 lbf (24,4 N) que cae de una altura de 12 pulgadas (305 mm), produciendo un Energía de compactación de 12 400 lb-pie/pie3 (600 kN-m/m3).
    </p>

    <P>
        Este ensayo se aplica sólo para suelos que tienen 30% ó menos en peso de sus partículas retenidas en el tamiz de 3/4” pulg (19.0 mm).
    </P>

    <p>
        Nota 1: Para relaciones entre Pesos Unitarios y contenido de humedad de suelos con 30% ó menos en peso de material retenido en la malla 3/4" (19.0 mm) a Pesos Unitarios y contenido de humedad de la fracción pasante la malla de 3/4"(19.0 mm), ver ensayo
        ASTM D 4718 (“Método de ensayo para corrección del Peso Unitario y Contenido de Agua en suelos que contienen partículas sobredimensionadas”).
    </p>

    <p>
        Se proporciona 3 métodos alternativos. El método usado debe ser indicado en las especificaciones del material a ser ensayado. Si el método no está especificado, la elección se basará en la gradación del material.
    </p>

    <!-- <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>