<div class="fondo-img">
    <h1>ÁREA GEOTÉCNIA</h1>
</div>
<div class="container contenedor-texto">

    <div>

        <p class="card-text">
            <strong>INGEPARCH</strong> es una empresa peruana que cuenta con Laboratorio de Mecánica de Suelos y Asfalto; fue creado para cumplir con los fines de enseñanza, investigación y dar soluciones geotécnicas de alta calidad. Durante ese tiempo,
            ha desarrollado proyectos de investigación y ha brindado servicios de ensayos y consultoría en geotecnia
        </p>

        <p class="card-text">
            Está equipado para la ejecución de los ensayos de laboratorio y cuenta con equipo de campo para la ejecución de pruebas.
        </p>

        <p class="card-text">
            Nuestro equipo está formado por profesionales y técnico capacitado. Ha brindado servicios de laboratorio y consultoría a las principales empresas dedicadas a la construcción.
        </p>
    </div>

</div>

<section class="seccion-servicios">
    <div class="container">
        <h2>SERVICIOS DE GEOTÉCNIA</h2>

        <div class="contenedor-servicios1">

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/ensayo-triaxial']">ENSAYO TRIAXIAL</a>

            <a class="servicio triaxial directo" [routerLink]="['/consultoria/geotecnia-servicio/corte-directo']">CORTE DIRECTO</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/proctor-standard']">PROCTOR STANDARD</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/proctor-modificado']">PROCTOR MODIFICADO</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/contenido-de-humedad']">CONTENIDO DE HUMEDAD</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/peso-volumetrico-de-suelo-cohesivo']">PESO VOLUMÉTRICO DE SUELO COHESIVO</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/analisis-granulometrico-por-tamizado']">ANÁLISIS GRANULOMÉTRICO POR TAMIZADO</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/gravedad-especifica-de-solidos']">GRAVEDAD ESPECÍFICA DE SÓLIDOS</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/limite-liquido-limite-plastico-e-indice-plastico']">LÍMITE LÍQUIDO, LÍMITE PLÁSTICO E ÍNDICE PLÁSTICO</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/limite-de-contraccion']">LÍMITE DE CONTRACCIÓN</a>

            <a class="servicio triaxial" [routerLink]="['/consultoria/geotecnia-servicio/cbr']">CALIFORNIA BEARING RATIO (CBR)</a>

        </div>


        <div>
            <div>

            </div>

            <div>

            </div>
        </div>


    </div>
</section>

<div>

    <app-formulario-contacto></app-formulario-contacto>
</div>