<div class="fondo-img">
    <h2>Ruptura de Provetas</h2>
</div>
<div class="contenedor-texto">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque fuga, saepe assumenda eveniet quidem excepturi accusamus qui quasi quod, deleniti odio, non magni cumque. Consequuntur voluptas natus repudiandae suscipit officia. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Eaque fuga, saepe assumenda eveniet quidem excepturi accusamus qui quasi quod, deleniti odio, non magni cumque. Consequuntur voluptas natus repudiandae suscipit officia. Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Eaque fuga, saepe assumenda eveniet quidem excepturi accusamus qui quasi quod, deleniti odio, non magni cumque. Consequuntur voluptas natus repudiandae suscipit officia.
    </p>
</div>


<app-formulario-contacto></app-formulario-contacto>