<div class="fondo-img">
    <h1>ÁREA ESTRUCTURAL</h1>
</div>
<div class="container contenedor-texto">

    <div>

        <p class="card-text">
            <strong>INGEPARCH</strong> es una empresa peruana que ofrece soluciones de Diseño Estructural de alta calidad. Contamos con amplia experiencia y conocimiento en el área de diseño estructural, diseño sísmico, y diseño de reforzamiento estructural
            en varios tipos de proyectos.
        </p>

        <p class="card-text">
            Nuestro equipo está conformado por profesionales con experiencia, conocimiento y pasión por la Ingeniería Civil y el Diseño Estructural. Trabajamos con transparencia y honestidad en todo momento, con el objetivo de ofrecerles a nuestros clientes las mejores
            soluciones en el mercado.
        </p>
    </div>






    <!--     <app-formulario-contacto></app-formulario-contacto> -->
</div>

<section class="seccion-servicios">
    <div class="container">
        <h2>Servicios </h2>

        <div class="contenedor-servicios">
            <div class="servicio1">
                <h4>DESARROLLO DE SITIOS WEB</h4>
            </div>

            <div class="servicio2">
                <h4>CURSOS ONLINE</h4>
            </div>

        </div>

        <div class="contenedor-servicios">
            <div class="servicio1">
                <h4>DESARROLLO DE SITIOS WEB</h4>
            </div>

            <div class="servicio2">
                <h4>CURSOS ONLINE</h4>
            </div>

        </div>
    </div>
</section>

<div>

    <app-formulario-contacto></app-formulario-contacto>
</div>