<div class="fondo-img">
    <h1>ÁREA SISTEMAS E INFORMÁTICA</h1>
</div>
<div class="container contenedor-texto">

    <div>

        <p class="card-text">
            <strong>INGEPARCH</strong> es una empresa peruana que ofrece soluciones de sistemas de información(SI), tecnologías de información y comunicación(TIC), ayudando a las empresas a automatizar los procesos operativos y cubriendo sus necesidades,
            con el objetivo de lograr ventajas competitivas en dichas empresas.
        </p>

        <p class="card-text">
            Nuestro equipo está conformado por profesionales con experiencia, conocimiento y pasión. Trabajamos con transparencia y honestidad en todo momento, con el objetivo de ofrecerles a nuestros clientes las mejores soluciones en el mercado.
        </p>
    </div>

</div>

<section class="seccion-servicios">
    <div class="container">
        <h2>SERVICIOS</h2>

        <div class="contenedor-servicios1">

            <a class="servicio triaxial" [routerLink]="['/consultoria/sistemas-e-informatica-servicio/sitio-web']">CREACIÓN DE SITIOS WEB</a>

            <a class="servicio tecnico" [routerLink]="['/consultoria/sistemas-e-informatica-servicio/soporte-tecnico']">SOPORTE TÉCNICO</a>

            <a class="servicio tic" [routerLink]="['/consultoria/sistemas-e-informatica-servicio/tecnologia-informacion-conmunicacion']">TECNOLOGÍA DE INFORMACIÓN Y COMUNICACIÓN</a>

            <a class="servicio software" [routerLink]="['/consultoria/sistemas-e-informatica-servicio/desarrollo-de-software']">DESARROLLO DE SOFTWARE</a>

        </div>


    </div>
</section>

<div>

    <app-formulario-contacto></app-formulario-contacto>
</div>