<div class="fondo-img">
    <h1>LÍMITE LÍQUIDO, LÍMITE PLÁSTICO E ÍNDICE PLÁSTICO</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Determinar los contenidos de humedad que definen las fronteras entre los estados de consistencia semilíquido, plástico y semisólido, denominadas límite líquido y límite plástico, de una muestra de suelo pasante el tamiz N°40.
    </p>

    <p>
        El límite líquido se define como el contenido de humedad en la frontera entre los estados de consistencia plástico y semilíquido. El límite plástico se define como el contenido de humedad en la frontera entre los estados de consistencia plástico y semisólido.
    </p>


    <h2>RESUMEN DEL MÉTODO</h2>

    <h3>Límite Líquido</h3>

    <p>
        La muestra húmeda se coloca en una copa de bronce llamada Copa de Casagrande y con un ranurador se divide la muestra en dos partes, se procede a girar la manivela de la copa generando golpes que hacen fluir el suelo y la ranura tiende a cerrarse debido
        a los impactos causados por la caída repetitivas de la copa en un dispositivo estándar, se registra el número de golpes necesario para que la ranura se cierre en una longitud de ½ pulgada.
    </p>

    <p>
        El método multipunto requiere tres ensayos como mínimo a diversos contenidos de humedad, los datos de humedad y número de golpes se grafican en escala semilogarítmica y se traza una recta denominada “Curva de Fluidez”, y se determina el límite líquido
        como la humedad necesaria para que la ranura se cierre al aplicar 25 golpes.
    </p>

    <h3>Límite plástico</h3>

    <p>
        El límite plástico de determina rolando el suelo, se presiona entre los dedos y una placa de vidrio, rodándola repetidamente hasta formar un rollito o barrita cilíndrica de 1/8 de pulgada (3.2mm) de diámetro, en el proceso se reduce la humedad hasta el
        punto en que el rollito se agrieta o se quiebra por la presión del amasado y ya no es posible formarlo de nuevo, el contenido de humedad en este punto se reporta como el límite plástico. Se repite el procedimiento hasta reunir una muestra de 6
        gr. como mínimo.
    </p>


    <div class="contenedor-img-triaxial">
        <img src="./assets/img/limite-liquido.png" alt="">

    </div>

    <!-- <div class="card-group">
        <div class="card contenedor-img">
            <img src="./assets/img/limite-liquido.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->

</div>



<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>