<div class="fondo-img">
    <h1>ÁREA DE ARQUITECTURA</h1>
</div>
<div class="container contenedor-texto">

    <div>
        <p class="card-text">
            <strong>INGEPARCH</strong> es una empresa peruana que ofrece materializar las ideas mediante planos, memorias y la justificación del cumplimiento de la normativa que hagan viable la construcción del mismo sin que este pierda su esencia.
        </p>

        <p class="card-text">
            Nuestro equipo de arquitectos se involucra en el desarrollo técnico desde el inicio de la fase de diseño, proponiendo las mejores soluciones técnicas desde etapas tempranas. Desarrollamos proyectos de las distintas disciplinas de ingeniería tanto para
            edificación o industria, aplicando la metodología BIM mejoramos la coordinación de instalaciones previo a obra.
        </p>
    </div>






    <!--     <app-formulario-contacto></app-formulario-contacto> -->
</div>

<section class="seccion-servicios">
    <div class="container">
        <h2>Servicios </h2>

        <div class="contenedor-servicios">
            <div class="servicio1">
                <h4>DESARROLLO DE SITIOS WEB</h4>
            </div>

            <div class="servicio2">
                <h4>CURSOS ONLINE</h4>
            </div>

        </div>

        <div class="contenedor-servicios">
            <div class="servicio1">
                <h4>DESARROLLO DE SITIOS WEB</h4>
            </div>

            <div class="servicio2">
                <h4>CURSOS ONLINE</h4>
            </div>

        </div>
    </div>
</section>

<div>

    <app-formulario-contacto></app-formulario-contacto>
</div>