<nav class="navbar navbar-expand-lg navbar-light bg-light menu-navegacion">

    <nav class="navbar ">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/img/logo.png" width="250" height="50" alt="">
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link a" [routerLink]="['inicio']">INICIO</a>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  CONSULTORÍA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item a" [routerLink]="['consultoria/geotecnia']">GEOTÉCNIA</a>
                    <!-- <a class="dropdown-item a" [routerLink]="['consultoria/estructural']">ESTRUCTURAL</a>
                    <a class="dropdown-item a" [routerLink]="['consultoria/arquitectura']">ARQUITECTURA</a> -->
                    <a class="dropdown-item a" [routerLink]="['consultoria/sistemas-e-informatica']">SISTEMAS E INFORMÁTICA</a>


                </div>
            </li>

            <!-- <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  OBRAS CIVILES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item a" [routerLink]="['obras-civiles/puentes']">PUENTES</a>
                    <a class="dropdown-item a" [routerLink]="['obras-civiles/carreteras']">CARRETERAS</a>
                    <a class="dropdown-item a" [routerLink]="['obras-civiles/edificaciones']">EDIFICACIONES</a>

                </div>
            </li> -->

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link a" [routerLink]="['nosotros']">NOSOTROS</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link a" [routerLink]="['contacto']">CONTÁCTO</a>
            </li>

        </ul>

    </div>
</nav>