<div class="fondo-img">
    <h1>CORTE TRIAXIAL</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>
    <p>
        Medir la resistencia cortante de diferentes tipos de condiciones de carga y drenaje.
    </p>


    <div class="contenedor-general-tipos-triaxial">
        <h2>TIPOS DE ENSAYOS TRIAXIALES:</h2>
        <div class="contenedor-tipos-triaxial">
            <div>
                <h3>Ensayo No consolidado – No drenado (UU)</h3>
                <p>
                    En este tipo de prueba no se permite en ninguna etapa la consolidación de la muestra. La válvula de comunicación entre el espécimen y la bureta permanece siempre cerrada impidiendo el drenaje. En primer lugar, se aplica al espécimen una presión hidrostática
                    y de inmediato, se falla el suelo con la aplicación rápida de la carga axial. Los esfuerzos efectivos en esta prueba no se conocen bien.
                </p>

                <p>
                    El ensayo UU es usualmente llevado a cabo sobre especímenes de arcilla, enmarcando la realización del ensayo dentro del concepto de resistencia para suelos cohesivos saturados, en donde se expresan los resultados en términos de esfuerzos totales. La envolvente
                    de falla para los criterios de Mohr del esfuerzo total se convierte en una línea horizontal, con una condición de φ = 0° (ángulo de fricción) y τf = Cu , siendo Cu la resistencia al cortante no drenada, la cual es igual al radio de
                    los círculos de Mohr.
                </p>

                <div class="contenedor-img-triaxial">
                    <img src="./assets/img/img-triaxial1.png" class="card-img-top" alt="...">
                    <img src="./assets/img/img-triaxial2.png" class="card-img-top" alt="...">
                </div>

            </div>

            <div>
                <h3>Ensayo Consolidado – Drenado (CD)</h3>

                <p>
                    La característica fundamental de la prueba es que los esfuerzos aplicados al espécimen son efectivos. Primeramente se aplica al suelo una presión hidrostática, manteniendo abierta la válvula de comunicación con la bureta y dejando transcurrir el tiempo
                    necesario para que haya consolidación completa bajo la presión actuante. Cuando el equilibrio estático interno se haya restablecido, todas las fuerzas exteriores estarán actuando sobre la fase sólida del suelo, es decir, producen esfuerzos
                    efectivos, en tanto que los esfuerzos neutrales en el agua corresponden a la condición hidrostática. La muestra se lleva a la falla a continuación aplicando la carga axial en pequeños incrementos, cada uno de los cuales se mantiene
                    el tiempo necesario para que la presión en el agua, en exceso de la hidrostática, se reduzca a cero.
                </p>

                <p>
                    Los ensayos consolidados drenados se utilizan esencialmente en suelos granulares (arenas), sin embargo, se puede aplicar en suelos finos, pero los ensayos requieren tiempos prolongados del orden de semanas.
                </p>
            </div>

            <div>
                <h3>Ensayo Consolidado – No drenado (CU)</h3>

                <p>
                    En este tipo de prueba, el espécimen se consolida primeramente bajo la presión hidrostática; así el esfuerzo llega a ser efectivo, actuando sobre la fase sólida del suelo. En seguida, la muestra se lleva a la falla por un rápido incremento de la carga
                    axial, de manera que no se permita cambio de volumen. El hecho esencial de este tipo de prueba es el no permitir ninguna consolidación adicional durante el periodo de falla, de aplicación de la carga axial. Esto se logra fácilmente
                    en una cámara de compresión triaxial cerrando la válvula de salida de las piedras porosas a la bureta.
                </p>

                <p>
                    En la segunda etapa de una prueba rápida consolidada podría pensarse que todo el esfuerzo desviador fuera tomado por el agua de los vacíos del suelo en forma de presión neutral, ello no ocurre así y se sabe que parte de esa presión axial es tomada por
                    la fase sólida del suelo, sin que hasta la fecha, se hayan dilucidado por completo ni la distribución de esfuerzos, ni las razones que lo gobiernan. De hecho no hay ninguna razón en principio para que el esfuerzo desviador sea íntegramente
                    tomado por el agua en forma de presión neutral, si la muestra estuviese lateralmente confinada, como el caso de una prueba de consolidación.
                </p>

                <p>
                    El ensayo CU (consolidado - no drenado) se realiza generalmente con medición de la presión de poros o neutra con el fin de determinar los parámetros de “C” y “φ” en términos de esfuerzos totales y esfuerzos efectivos.
                </p>

                <div class="contenedor-img-triaxial">
                    <img src="./assets/img/img-triaxial3.png" alt="">
                    <img src="./assets/img/img-triaxial4.png" alt="">
                    <img src="./assets/img/img-triaxial5.png" alt="">
                </div>

            </div>
        </div>


    </div>

    <div>
        <h2>ENSAYO: </h2>

        <ul>
            <li> <img src="./assets/img/check2.png" alt=""> Control del esfuerzo de confinamiento</li>
            <li> <img src="./assets/img/check2.png" alt=""> Control de la presión de poros</li>
        </ul>
    </div>

    <app-formulario-contacto></app-formulario-contacto>
</div>