.fondo-img {
    background-image: linear-gradient(rgba(38, 50, 106, 0.9), rgba(17, 95, 126, 0.9)), url(../../../../assets/img/contacto.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-texto {
    margin-top: 20px;
}

.contenedor-texto p {
    font-size: var(--texto-size);
    text-align: var(--texto-align);
}