<div class="fondo-img">
    <h1>ANÁLISIS GRANULOMÉTRICO POR TAMIZADO</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Determinar cuantitativamente la distribución de tamaños de partículas de suelo, utilizando tamices de abertura cuadrada para determinar la gradación del suelo entre los tamices de 3 pulgadas (75mm) y N°200 (0.075mm).
    </p>

    <h2>RESUMEN DEL MÉTODO</h2>

    <p>
        Una muestra de suelo se tamiza por una serie de tamices de diversas aberturas a fin de determinar la masa retenida en cada tamiz y expresarla en porcentaje respecto a la masa total.
    </p>

    <p>
        Antes del tamizado la muestra se lava a fin de eliminar las partículas finas y se seca en el horno, luego se tamiza, con los resultados se tabula cada abertura de tamiz con el porcentaje que pasa y se representa gráficamente en una curva granulométrica.
    </p>

    <p>
        Dependiendo del tipo de muestra se considera dos procedimientos de ensayo denominados tamizado simple y tamizado compuesto.
    </p>

    <p>
        Para muestras que contienen partículas relativamente pequeñas se aplica el tamizado simple utilizando la totalidad de la muestra.
    </p>

    <p>
        Si la muestra contiene una amplia gama de tamaños para un tamizado más eficiente se realiza un tamizado compuesto, que consiste en tamizar por separado las fracciones gruesa y fina de la muestra.
    </p>

    <p>
        La curva granulométrica se utiliza para calcular el coeficiente de uniformidad “Cu” y el coeficiente de curvatura “Cc”, dichos coeficientes del suelo se usa para la clasificación SUCS de los suelos granulares.
    </p>
    <!-- <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>}

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>