<div class="fondo-img">
    <h1>CREACIÓN DE SITIOS WEB</h1>
</div>
<div class="container contenedor-texto">

    <!-- <div class="card mb-3">
        <div class="row no-gutters ">
            <div class="col-md-4 contenedor-img">
                <img src="./assets/img/desarrollo-web.jpg " alt="... ">
            </div>
            <div class="col-md-8 ">
                <div class="card-body ">
                    <h5 class="card-title ">Objetivo</h5>
                    <p class="card-text ">
                        Desarrollamos sitios web modernas, dinámicas, adaptables para dispositivos móviles y muy atractivas que ayuden a describir el tipo de producto o servicio que ofrece su empresa según lo necesite, llevando su negocio al siguiente nivel.
                    </p>

                </div>
            </div>
        </div>
    </div> -->

    <h2>OBJETIVO:</h2>

    <p class="card-text ">
        Desarrollamos páginas web modernas, dinámicas, adaptables para móviles y muy atractivas que ayuden a describir el tipo de producto o servicio que ofrece según lo necesite, llevando su negocio al siguiente nivel.
    </p>

    <div class="card-group ">
        <div class="card contenedor-img">
            <img src="./assets/img/desarrollo-web.jpg " class="card-img-top " alt="... ">

        </div>
        <div class="card contenedor-img">
            <img src="./assets/img/web2.jpg " class="card-img-top " alt="... ">
        </div>
    </div>





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>