<div class="fondo-img">
    <h1>CALIFORNIA BEARING RATIO (CBR)</h1>
</div>
<div class="container contenedor-texto">

    <h2>OBJETIVO:</h2>

    <p>
        Describe el procedimiento de ensayo para la determinación de un índice de resistencia de los suelos denominado valor de la relación de soporte, que es muy conocido, como CBR (California Bearing Ratio). El ensayo se realiza normalmente sobre suelo preparado
        en el laboratorio en condiciones determinadas de humedad y densidad; pero también puede operarse en forma análoga sobre muestras inalteradas tomadas del terreno.
    </p>

    <p>
        Este índice se utiliza para evaluar la capacidad de soporte de los suelos de subrasante y de las capas de base, sub-base y de afirmado.
    </p>





    <!--  <div class="card-group">
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="./assets/img/ensayo-grafico1.png" class="card-img-top" alt="...">
        </div>
    </div> -->





</div>

<div>
    <app-formulario-contacto></app-formulario-contacto>
</div>