<section class="seccion-info-general">
    <div class="container contenedor-info-general">
        <!-- <div class="contenedor-info-colegio">
            <div class="contenedor-img-logo">
                <img class="img-logo" src="./assets/img/logo.png" alt="">
            </div>

            <p>
                Somos INGEPARCH S.A.C. una empresa peruana con experiencia en la construcción y consultoría por el cual contamos con un amplio conocimiento en los rubros de Ingeniería y Arquitectura basadas en las Normas legales y reglamentos del rubro. Garantizamos
                el cumplimiento de los requerimientos del cliente al contar con profesionales y colaboradores con experiencia, atendiendo eficazmente sus necesidades bajo el control de los procesos constructivos y de calidad.
            </p>
        </div> -->

        <!-- <div class="contenedor-info-enlaces">
            <h5>ENLACES</h5>
            <div class="contenedor-enlaces">
                <a [routerLink]="['/consultoria/geotecnia']">Geotécnia</a>
                <a [routerLink]="['/consultoria/estructural']">Estructural</a>
                <a [routerLink]="['/consultoria/arquitectura']">Arquitectura</a>
                <a [routerLink]="['/consultoria/sistemas-e-informatica']">Sistemas e Informática</a>
                <a [routerLink]="['contacto']">Contáctanos</a>
            </div>

        </div> -->

        <div class="contenedor-info-contacto">
            <h5>CONTÁCTANOS</h5>
            <p>
                <img src="./assets/img/icono/mapa.png" alt=""> : Av. 9 de diciembre 502 Aprovisa Ayacucho-Perú
            </p>

            <p>
                <img src="./assets/img/icono/phone.png" alt=""> : +51 925266077 - 988322267
            </p>

            <p>
                <img src="./assets/img/icono/correo.png" alt=""> : administracion@ingeparch.com
            </p>


        </div>

        <div class="contenedor-info-redes-sociales">
            <h5>VISÍTANOS</h5>
            <a href="https://www.facebook.com/INGEPARCH/?ref=pages_you_manage" target="_blank"> <img src="./assets/img/icono/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/ingeparchsac/" target="_blank"> <img src="./assets/img/icono/instagram.png" alt=""></a>

        </div>



    </div>
    <div class="container contenedor-derechos">
        <p class="text-footer">&copy;{{fecha}} INGEPARCH todos los derechos reservados</p>
    </div>
</section>
<!-- <footer>
    <div class="contenedor">
        <p class="text-footer">&copy;{{fecha}} Todos los derechos reservados</p>
    </div>
</footer> -->